**/__pycache__/

**/*.pyc
**/*.pyo
dist/
build/
**/*.egg-info/

**/.DS_Store

config/vitalsigns_config.yaml
.idea/

vitalhome/**/*.yaml

vital_home_test/domain-python/*/build/*
vital_home_test/domain-python/*/dist/*
vital_home_test/domain-python/*/*.egg-info/*

vital_home_test/domain-python/vital-aimp-python/com_vitalai_aimp_domain/*

**/*.pem

authentication/

.vscode/




